* {
    margin: 0px auto;
}


.container {
    width: 1024px;
    background-color: rgb(255, 225, 179);
}

.container5 {
    width: 80%;
    display: flex;
    justify-content:center;
    padding: 20px;
}

.card {
    width: 18%;
    height: 300px;
    background-color: rgb(246, 181, 95);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-image: url("doodad.png");
    background-size: 30%;
    box-shadow: 0 20px 15px 1px rgb(237, 208, 165);
    transition: 0.4s;
}
.card:hover {
    transform: translate(0px, 10px);
    box-shadow: 0 0px 15px 1px rgb(237, 208, 165);
}

.img {
    position: absolute;
    width: 600px;
    left: -100px;
}

footer {
    overflow: hidden;
    height: 560px;
}